@import "variables.css";


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    line-height: 1.6;
    letter-spacing: .2px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}





a{
    color:#000;
    text-decoration: none;
}

a:visited{
    color:#000;
}

.container{
    height:720px;
}

.head-container{
    display:grid;
    place-content:center;
    text-align: center;
    height:200px;
    font-size: 18px;
    border-bottom: 2px solid black;
}


/*outer box*/
.body-container{
    display:flex;
    height:100%;
    margin-bottom: 2px;
    border-bottom: 4px solid black;

}

/*left box*/
.nav-container{
    width:25%;
    border-right:2px solid black;
    text-align: left;

}

.nav-title{
    font-weight: 700;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 20px;

}

.link-container{
    width: 90%;
    margin-left: auto;

}

.nav-list li{
    margin-bottom: 10px;

}




/*right box*/
.text-container{
    width: 75%;
    /*border: 2px solid black;*/
}


/*styles von pcmain.htm*/
span.preis{
    color: red;
}

p#mail_angebot{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

table#produkte{
    border-spacing: 20px;
}


/*order*/

.order-header, .newsletter{
    background: hsl(360 0% 50%);
}
.order-header{
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.newsletter{
    text-align: left;
    color: #fff;
}

.order-subheader{
    padding-top: 15px;
    padding-bottom:15px;
    font-weight: 700;
}

/*personal information*/
.order-container{
    width: 40%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border: solid 2px #000;
}

.data-container, .order-subheader {
    background: hsl(360 0% 80%);
}

.data-container{
    font-weight: 700;
}



.personal-info-container{
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}
.info-left, .info-right{
    text-align: end;
}
.label{
    margin-right:10px;
}

.input-field{
    width:60%;
}

.info-right{
    margin-left: 10px;

}



/*customer section*/

.customer-container{
    display: block;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20%;

}

.message-title{
    margin-bottom: 20px;
}

.message-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*textarea for order message*/
#message{
    width: 100%;
    height: 100px;
    resize: none;
}

.buttons{
    text-align: left;
    margin-left: 20px;
    color:#ffffff;
}

.submit, .delete{
    display: inline-block;



}
#button, #button2{
    background-color: var(--button);
    border: 2px solid var(--button);
    border-radius: 5px;
}
.submit>input:hover{
    background-color: var(--button-hover)!important;
    border-color: var(--button-hover) !important;

}

.delete > button:hover{
    background-color: red !important;
    border-color: red !important;
}

/*targets input that's first child of submit and delete respectively*/
.submit > input, .delete >button{
    padding: 0 5px;
}



/*review section*/
.review-header{
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}


table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    border-collapse: collapse; /*removes unnecessary borders*/
   
}

td{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*table column width*/
.sixth{
    width: var(--sixth);
    padding-right: 5px;
    text-align: right;
}.third{
    width: var(--third);
    padding-left:5px;
    text-align: left;
}

 /*cells spanning over entire width of table*/
.single-cell{

    border-style: none;
    border-bottom: 1px solid black !important;
    text-align: left;
    padding-left: 5px;
}


/*row toggles*/
/* class not used
.show-message{
    display: table-row;
}*/

.invis-message{
    display: none;
}

/*.subscribed{
    display: table-row;
}*/
.not-subscribed{
    display: none;
}








/*background shenanigans*/
.background{
    display:grid;
    place-content:center;
    text-align: center;
    min-height: 600px;
    max-width: 80%;
    position: relative;
    isolation:isolate;
    margin-left: auto;
    margin-right: auto;
    border:solid 2px #000;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 2px;

}

.background-font{
    font-size: 18px;
    font-family: MOOD Outline, Georgia, sans-serif;

}

.background::after{
    content:'';
    position: absolute;
    z-index: -1;
    inset:0;
    opacity:0.6;

    background-image:url("https://i.pinimg.com/originals/aa/02/78/aa02780bbc7e6c5e2d52d9b0e919fbf6.jpg");
    background-size: cover;
    background-position: center;
}

.construction-placeholder{
    margin-left: auto;
    margin-right: auto;

}
.construction-placeholder img{
    width:100%;
    max-width: 400px;
}




